.logo {
  height: 35px;
  width: 35px;
  color: $pure-white;
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  cursor: pointer;

  @include susy-breakpoint($bsm) {
    height: 45px;
    width: 45px;
    margin-left: 50px;
  }

  &-square {
    transform: rotate(45deg);
    height: 35px;
    width: 35px;
    outline: 2px solid $pure-white;
    position: absolute;
    top: 0;
    left: 0;

    @include susy-breakpoint($bsm) {
      height: 45px;
      width: 45px;
    }
  }

  &-first-letter {
    font-size: 30px;
    line-height: 38px;

    @include susy-breakpoint($bsm) {
      line-height: 50px;
    }
  }

  &-surname,
  &-first-name {
    display: inline-block;
    text-align: right;
    direction: rtl;
    position: absolute;
    font-size: 10px;
    max-width: 0;
    overflow: hidden;

    &:first-letter {
      font-size: 0;
    }

    @include susy-breakpoint($bsm) {
      font-size: 12px;

      &:first-letter {
        font-size: 0;
      }
    }
  }

  &-surname {
    top: 8px;
    left: 30px;

    @include susy-breakpoint($bsm) {
      top: 14px;
      left: 37px;
    }
  }

  &-first-name {
    top: 19px;
    left: 30px;

    @include susy-breakpoint($bsm) {
      top: 25px;
      left: 37px;
    }
  }

  &.enter {
    transition: opacity .2s;
    opacity: 1;

    .logo-square {
      transform: rotate(0deg);
      width: 70px;
      transition: transform .2s, width .2s .2s;

      @include susy-breakpoint($bsm) {
        width: 88px;
      }
    }

    .logo-surname,
    .logo-first-name {
      max-width: 50px;
      transition: max-width .2s .4s;
    }
  }

  &.leave {
    transition: opacity .2s;
    opacity: 0.8;

    .logo-square {
      transform: rotate(45deg);
      width: 35px;
      transition: width .2s .2s, transform .2s .4s;

      @include susy-breakpoint($bsm) {
        width: 45px;
      }
    }

    .logo-surname,
    .logo-first-name {
      max-width: 0;
      transition: max-width .2s;
    }
  }
}
