.mainmenu {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  top: 14px;

  @include susy-breakpoint($bsm) {
    top: 20px;
  }

  @include susy-breakpoint($bmd) {
    right: 50px;
  }

  nav {
    display: none;

    @include susy-breakpoint($bmd) {
      display: block;
    }
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin-left: 20px;
  }

  a {
    color: rgba($pure-white, 0.4);
    letter-spacing: 2px;
    text-shadow: none;
    position: relative;
    display: inline-block;
    outline: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      padding: 0;
      max-width: 0;
      border-bottom: 2px solid #fff;
      color: #fff;
      content: attr(data-hover);
      transition: max-width 0.5s;
    }

    &.active,
    &:hover,
    &:focus {
      &::before {
        max-width: 100%;
      }
    }
  }
}

.mainmenu-hamburger {
  position: relative;
  @include z($zelements, mainmenu);

  @include susy-breakpoint($bmd) {
    display: none;
  }
}

.mainmenu-invisible-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include z($zelements, header);
}
