.mainmenu {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  top: 14px;

  @include susy-breakpoint($bsm) {
    top: 20px;
  }

  @include susy-breakpoint($bmd) {
    right: 50px;
  }

  ul {
    list-style: none;
    text-align: right;
    transition: transform .3s ease .3s;

    @include susy-breakpoint($bmd) {
      text-align: left;
      transition: none;
    }
  }

  li {
    font-size: 16px;
    margin-top: 30px;

    @include susy-breakpoint($bmd) {
      font-size: 12px;
      display: inline-block;
      margin-left: 20px;
      margin-top: 0;
    }
  }

  a {
    color: rgba($pure-white, 0.4);
    letter-spacing: 2px;
    text-shadow: none;
    position: relative;
    display: inline-block;
    outline: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      padding: 0;
      max-width: 0;
      border-bottom: 2px solid #fff;
      color: #fff;
      content: attr(data-hover);
      transition: max-width 0.5s;
    }

    &.active,
    &:hover,
    &:focus {
      &::before {
        max-width: 100%;
      }
    }
  }
}

.mainmenu-hamburger {
  position: absolute;
  right: 0;

  @include z($zelements, hamburger);

  @include susy-breakpoint($bmd) {
    display: none;
  }
}

.mainmenu-invisible-layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include z($zelements, header);
}

.mainmenu-background {
  display: block;
  height: 0;
  width: 0;
  background-color: #fff;
  position: absolute;
  right: 29px;
  top: 21px;
  transition: all .3s ease;
  overflow: visible;

  .is-active ~ & {
    height: 390px;
    width: 390px;
    right: -180px;
    top: -50px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
  }
}

.mainmenu-nav {
  display: block;
  height: 0;
  width: 0;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .3s ease .3s;
  overflow: visible;

  @include z($zelements, mainmenu);

  .is-active ~ & {
    height: 390px;
    width: 390px;
    right: -170px;
    top: -40px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);

    ul {
      transform: translate3d(-190px, 70px, 0);
    }
  }

  @include susy-breakpoint($bmd) {
    position: static;
    background-color: transparent;
    transition: none;
    height: auto;
    width: auto;
  }
}
