@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.animated-message {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
  transition: all 0.5s ease-out;
  font-size: 30px;
  font-family: Helvetica, serif;

  @include susy-breakpoint($bsm) {
    font-size: 44px;
  }

  @include susy-breakpoint($bmd) {
    font-size: 64px;
  }

  .typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite;
  }
}
