.home-gallery {
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0,0,0,.7);
  }
}

.home-gallery-image {
  height: 120vh;
  width: auto;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -10vh);
}
