---
layout: default
---

<div class="home">
  <div class="home-gallery">
    <picture data-depth="0.8" data-pointer-events="false">
      <source media="(min-width: 768px)" srcset="assets/img/cetate_big.jpg">
      <img src="assets/img/cetate_small.jpg" class="home-gallery-image" alt="cetate">
    </picture>
  </div>
  <div class="animated-message">
    <span class="animated-message-text"></span>
  </div>
  <div class="scrollDown">
    <span class="scrollDown-txt">Scroll Down</span>
    <picture>
      <source media="(min-width: 1024px)" srcset="assets/img/scrollDown_desktop.svg">
      <img src="assets/img/scrollDown_mobile.svg" class="scrollDown-image" alt="cetate">
    </picture>
  </div>
  {{ content }}

</div>
