html,
body,
main {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  @include container($lxs);

  @include susy-breakpoint($bsm, $lsm) {
    @include container($lsm);
    max-width: 100%;
  }

  @include susy-breakpoint($bmd, $lmd) {
    @include container($lmd);
  }

  @include susy-breakpoint($blg, $llg) {
    @include container($llg);
  }

  @include susy-breakpoint($bxl, $lxl) {
    @include container($lxl);
  }
}

.site-header {
  @include z($zelements, header);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.home {
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}
